@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,400;0,500;0,700;1,100;1,200&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  height: 100vh;
}
body a {
  color: #ffffff;
  text-decoration: none;
}
body h2 {
  font-size: 3rem;
  font-family: "Inter", sans-serif;
  background: linear-gradient(to left, #33cc73, #4247a2);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}

header {
  background-image: url("/assets/bannerHeader.png");
  height: 80vh;
  background-repeat: no-repeat;
  background-size: cover;
}
header .header-content {
  display: flex;
  flex-direction: column;
  width: 1260px;
  margin: auto;
}
header .header-content nav {
  margin: 70px 0;
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 50px;
  background: linear-gradient(to right, #4247a2 0%, #52b095 100%);
}
header .header-content nav img {
  margin-left: -100px;
  width: 200px;
}
header .header-content nav .nav-links {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 40px;
  font-size: 1.5rem;
  margin-left: -100px;
}
header .header-content .header-title {
  width: 700px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
header .header-content .header-title h1 {
  font-size: 3.5rem;
  background: linear-gradient(to left, #33cc73, #4247a2);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}
header .header-content .header-title p {
  font-size: 2rem;
  font-weight: 400;
  width: 500px;
  margin-bottom: 40px;
}
header .header-content .header-title .header-btn a {
  border-radius: 14px;
  padding: 0.7rem 3rem;
  font-size: 1.2rem;
}
header .header-content .header-title a:nth-child(1) {
  background-color: #1173d4;
  border: 1px solid #1173d4;
  margin-right: 30px;
}
header .header-content .header-title a:nth-child(2) {
  border: 1px solid #1173d4;
  color: #1173d4;
}

main .cards-intro {
  background-color: #f8f9fa;
  padding: 100px;
  font-family: "Inter", sans-serif;
}
@media (max-width: 440px) {
  main .cards-intro {
    padding: 20px;
  }
}
main .cards-intro .cards-intro_import {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 50px;
}
main .cards-intro .cards-intro_import p {
  text-align: center;
  width: 70%;
  font-size: 1.3rem;
}
@media (max-width: 440px) {
  main .cards-intro .cards-intro_import p {
    width: 100%;
    font-size: 1.1rem;
  }
}
main .cards-intro .cards-intro_import .cards-import {
  display: flex;
  gap: 50px;
}
@media (max-width: 440px) {
  main .cards-intro .cards-intro_import .cards-import {
    flex-direction: column;
    gap: 20px;
  }
}
main .cards-intro .cards-intro_import .cards-import .cards-import_card {
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}
@media (max-width: 440px) {
  main .cards-intro .cards-intro_import .cards-import .cards-import_card {
    width: 320px;
  }
}
main .cards-intro .cards-intro_import .cards-import .cards-import_card h3 {
  font-size: 1.5rem;
}

main .preventivo-feminino,
.preventivo-masculino {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 4rem 2rem;
}
@media (max-width: 440px) {
  main .preventivo-feminino,
  .preventivo-masculino {
    padding: 10px;
  }
}
main .preventivo-feminino .preventivo-container,
.preventivo-masculino .preventivo-container {
  width: 1280px;
}
@media (max-width: 440px) {
  main .preventivo-feminino .preventivo-container,
  .preventivo-masculino .preventivo-container {
    width: 90%;
    margin-inline: auto;
  }
}

main .preventivo-feminino {
  background-color: #fdefef;
}
main .preventivo-feminino h2 {
  background: linear-gradient(to left, rgba(249, 1, 111, 0.54), rgba(147, 8, 133, 0.62), rgba(208, 56, 170, 0.75), rgb(133, 28, 135));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}

main .preventivo-masculino {
  background-color: #f8f9fa;
}
main .preventivo-masculino h2 {
  background: linear-gradient(to left, rgb(51, 115, 210), rgb(111, 149, 199), rgb(123, 181, 245), rgb(0, 116, 238), rgb(94, 167, 239));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}
main .preventivo-masculino .cards {
  justify-content: center;
}

main .cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  margin-top: 50px;
}
@media (max-width: 440px) {
  main .cards {
    flex-direction: column;
    align-items: center;
  }
}
main .cards .card {
  text-align: center;
  background-color: #ffffff;
  width: 300px;
  height: 450px;
  padding: 20px 10px;
  border-radius: 24px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
main .cards .card img {
  width: 105px;
  height: 105px;
  border-radius: 100px;
}
main .cards .card h3 {
  font-size: 1.5rem;
  margin-bottom: 30px;
}
main .cards .card ul {
  margin-left: 20px;
}
main .cards .card ul li {
  text-align: left;
  margin-top: 10px;
}

main .cards-alertImport {
  padding: 70px 100px;
}
@media (max-width: 440px) {
  main .cards-alertImport {
    padding: 20px;
  }
}
main .cards-alertImport .alert-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 30px;
}
main .cards-alertImport .alert-container .cards-alerts {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
@media (max-width: 440px) {
  main .cards-alertImport .alert-container .cards-alerts {
    flex-direction: column;
  }
}
main .cards-alertImport .alert-container .cards-alerts .pink {
  color: #ad346a;
  background-color: #f9d5e5;
}
main .cards-alertImport .alert-container .cards-alerts .blue {
  color: #2769a3;
  background-color: #cfe2f3;
}
main .cards-alertImport .alert-container .cards-alerts .green {
  color: #244a2d;
  background-color: #d4edda;
}
main .cards-alertImport .alert-container .cards-alerts .orange {
  color: #976c00;
  background-color: #ffe9c2;
}

main .cards-alert_card {
  width: 550px;
  border-radius: 12px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  margin: 10px 40px;
}
@media (max-width: 440px) {
  main .cards-alert_card {
    width: 340px;
    padding: 10px;
  }
}
main .cards-alert_card p {
  font-size: 1.22rem;
}
main .cards-alert_card .cards-alert_title {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 10px;
}
main .cards-alert_card .cards-alert_title img {
  width: 40px;
}
main .cards-alert_card .cards-alert_title h3 {
  font-size: 1.5rem;
}
@media (max-width: 440px) {
  main .cards-alert_card .cards-alert_title h3 {
    font-size: 1.25rem;
  }
}

footer {
  background-color: #313461;
  display: flex;
  flex-direction: column;
  gap: 30px;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
}
@media (max-width: 440px) {
  footer {
    align-items: center;
  }
}
footer .footer-top {
  display: flex;
  justify-content: space-evenly;
  padding: 50px 0 14px 0;
}
@media (max-width: 440px) {
  footer .footer-top {
    flex-direction: column;
    text-align: center;
    gap: 30px;
  }
}
footer .footer-top div {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
footer .footer-top div img {
  width: 180px;
  margin-bottom: 8px;
}
@media (max-width: 440px) {
  footer .footer-top div img {
    margin: auto;
  }
}
footer .footer-top div h3 {
  margin: 12px 0;
}
@media (max-width: 440px) {
  footer .footer-top div h3 {
    margin: 5px;
  }
}
footer .footer-top div ul li {
  margin-bottom: 12px;
  list-style: none;
}
footer .footer-top div ul li:hover {
  text-decoration: underline;
}
footer .footer-top .pBottom {
  width: 320px;
  padding: 10px 0;
}
footer .footer-bottom {
  border-top: 1px solid #9fabbc;
  text-align: center;
  padding: 30px;
}/*# sourceMappingURL=style.css.map */