@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,400;0,500;0,700;1,100;1,200&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

// VARIAVEIS
$white: #ffffff;
$bg-rose: #fdefef;
$bg-blue: #f8f9fa;
$blue-darkness: #313461;
$color-blue: #1173d4;
$gradient-blue: #4247a2;
$gradient-green-bg: #52b095;
$gradient-green: #33cc73;
$font-darkness: #04031c;

// CARDS
$card-blue: #cfe2f3;
$card-color-blue: #2769a3;
$card-rosa: #f9d5e5;
$card-color-rosa: #ad346a;
$card-green: #d4edda;
$card-color-green: #244a2d;
$card-orange: #ffe9c2;
$card-color-orange: #976c00;

// BREAKPOINTS
$mobile-width: 480px;
$tablet-width: 768px;
$desktop-width: 1024px;

//  MIXINS
@mixin desktop {
  @media (max-width: $desktop-width) {
    @content;
  }
}
@mixin tablet {
  @media (max-width: $tablet-width) {
    @content;
  }
}
@mixin mobile {
  @media (max-width: $mobile-width) {
    @content;
  }
}

@mixin width {
  max-width: 1280px;
  width: 100%;
  margin-inline: auto;
}
@mixin around {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin column {
  display: flex;
  flex-direction: column;
}
@mixin gradient($value) {
  background: $value;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}
@mixin shadow($value) {
  box-shadow: 0 0 10px $value;
}

// RESET e GLOBAL
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: $white;
  min-height: 100vh;
  color: $font-darkness;
  a {
    color: $white;
    text-decoration: none;
  }
  h2 {
    font-size: 3rem;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    text-align: center;
    @include gradient(
      linear-gradient(to left, $gradient-green, $gradient-blue)
    );
  }
}

// HEADER/HERO
header {
  background-image: url('/assets/bannerHeader.png');
  height: 80vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.header-content {
  @include column;
  @include width;
  nav {
    @include around;
    margin: 4rem 0;
    padding: 10px 0;
    border-radius: 50px;
    box-shadow: 6px 6px 10px 1px rgba(0, 0, 0, 0.25);
    background: linear-gradient(
      to right,
      $gradient-blue 0%,
      $gradient-green-bg 100%
    );
    img {
      width: 200px;
    }
  }
}

.nav-links {
  @include around;
  list-style: none;
  font-size: 1.5rem;
  gap: 2rem;

  a:hover {
    text-shadow: 0 0 4px $white;
  }
}

.header-title {
  @include column;
  width: 700px;
  gap: 20px;

  h1 {
    font-size: 3.5rem;
    @include gradient(
      linear-gradient(to left, $gradient-green, $gradient-blue)
    );
  }

  p {
    font-size: 2rem;
    font-weight: 400;
    width: 500px;
    margin-bottom: 2.5rem;
  }

  .header-btn {
    display: flex;
    align-items: center;
    a {
      border-radius: 14px;
      padding: 0.7rem 3rem;
      font-size: 1.2rem;
      transition: 0.3s;
      &:hover {
        @include shadow($color-blue);
      }
    }
    a:first-child {
      background-color: $color-blue;
      border: 1px solid $color-blue;
      margin-right: 2rem;
      color: $white;
    }
    a:nth-child(2) {
      border: 1px solid $color-blue;
      color: $color-blue;
      background: transparent;
    }
  }
}

//  MAIN / SECTIONS
// INTRO
.cards-intro {
  background-color: $bg-blue;
  padding: 6rem;
  font-family: 'Inter', sans-serif;
}

.cards-intro_import {
  @include center;
  @include column;
  text-align: center;
  gap: 3rem;

  p {
    text-align: center;
    width: 70%;
    font-size: 1.3rem;
  }
}

.cards-import {
  display: flex;
  gap: 3rem;
  justify-content: flex-start;
}

.cards-import_card {
  width: 350px;
  @include center;
  @include column;
  gap: 1.5rem;
  background-color: $white;
  padding: 1.5rem;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  transition: 0.5s;
  &:hover {
    @include shadow($gradient-green);
  }

  h3 {
    font-size: 1.5rem;
  }
}

// PREVENTIVO (feminino / masculino)
.preventivo {
  @include center;
  text-align: center;
  padding: 4rem 2rem;
}

.preventivo-container {
  @include width;
}

.feminino {
  background-color: $bg-rose;
  h2 {
    @include gradient(
      linear-gradient(
        to left,
        rgba(249, 1, 111, 0.54),
        rgba(147, 8, 133, 0.62),
        rgba(208, 56, 170, 0.75),
        rgba(133, 28, 135, 1)
      )
    );
  }
  .card {
    &:hover {
      @include shadow(rgba(249, 1, 111, 0.54));
    }
  }
}

.masculino {
  background-color: $bg-blue;
  h2 {
    @include gradient(
      linear-gradient(
        to left,
        rgba(51, 115, 210, 1),
        rgba(111, 149, 199, 1),
        rgba(123, 181, 245, 1),
        rgba(0, 116, 238, 1),
        rgba(94, 167, 239, 1)
      )
    );
  }
  .cards {
    justify-content: center;
    .card {
      &:hover {
        @include shadow(rgba(0, 116, 238, 1));
      }
    }
  }
}

.cards {
  @include center;
  flex-wrap: wrap;
  gap: 3rem;
  margin-top: 3rem;
}

.card {
  text-align: center;
  background-color: $white;
  width: 300px;
  height: 450px;
  padding: 20px 10px;
  border-radius: 24px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  transition: 0.5s;

  img {
    width: 105px;
    height: 105px;
    border-radius: 100px;
  }
  h3 {
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }
  ul {
    margin-left: 20px;
    li {
      text-align: left;
      margin-top: 10px;
    }
  }
}

// CARDS ALERTAS
.cards-alertImport {
  padding: 4rem 6rem;
}

.cards-alertImport .alert-container {
  @include center;
  @include column;
  text-align: center;
  gap: 2rem;
}

.cards-alerts {
  @include center;
  flex-wrap: wrap;
  gap: 1rem;
}

.cards-alerts .pink {
  color: $card-color-rosa;
  background-color: $card-rosa;
  &:hover {
    @include shadow($card-color-rosa);
  }
}
.cards-alerts .blue {
  color: $card-color-blue;
  background-color: $card-blue;
  &:hover {
    @include shadow($card-color-blue);
  }
}
.cards-alerts .green {
  color: $card-color-green;
  background-color: $card-green;
  &:hover {
    @include shadow($card-color-green);
  }
}
.cards-alerts .orange {
  color: $card-color-orange;
  background-color: $card-orange;
  &:hover {
    @include shadow($card-color-orange);
  }
}

.cards-alert_card {
  max-width: 550px;
  border-radius: 12px;
  padding: 2rem;
  @include column;
  margin: 10px 40px;
  transition: 0.5s;
  p {
    font-size: 1.22rem;
  }
}

.cards-alert_title {
  @include center;
  gap: 8px;
  margin-bottom: 10px;

  img {
    width: 40px;
  }
  h3 {
    font-size: 1.5rem;
  }
}

// FOOTER
footer {
  background-color: $blue-darkness;
  @include column;
  gap: 2rem;
  color: $white;
  font-family: 'Poppins', sans-serif;
}

.footer-top {
  display: flex;
  justify-content: space-evenly;
  padding: 3rem 0 0.875rem 0;

  div {
    @include column;
    gap: 12px;
    img {
      width: 180px;
      margin-bottom: 8px;
    }
    h3 {
      margin: 12px 0;
    }
    ul li {
      margin-bottom: 12px;
      list-style: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.pBottom {
  width: 320px;
  padding: 10px 0;
}

.footer-bottom {
  border-top: 1px solid #9fabbc;
  text-align: center;
  padding: 2rem;
}

//  MEDIA QUERIES
// DESKTOP (max-width: 1024px)
@include desktop {
  header {
    height: 55vh;
    background-attachment: scroll;
    background-size: auto;
    background-position: center;
  }
  .header-content {
    max-width: 95%;
    text-align: left;
  }

  .cards-intro {
    padding: 2rem 1rem;
  }
  .cards-intro .cards-import {
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
  }
  .cards-import_card {
    width: 45%;
  }

  .footer-top {
    padding: 2rem 1rem;
    gap: 2rem;
  }
}

// TABLET (max-width: 768px)
@include tablet {
  header {
    background: none;
    background-attachment: scroll;
  }
  .header-content {
    max-width: 95%;
    text-align: left;
  }

  .cards-import_card {
    width: 48%;
  }

  .footer-top {
    flex-wrap: wrap;
    justify-content: left;
    gap: 3rem;
  }
  .cards-alertImport {
    padding: 2rem 1rem;
  }
}

// MOBILE (max-width: 480px)
@include mobile {
  header {
    background: none;
    background-attachment: scroll;
    height: 80vh;
  }

  .header-content {
    max-width: 100%;
    text-align: center;

    nav {
      width: 90%;
      margin: 1rem auto;
      align-items: center;

      img {
        width: 87px;
      }

      .nav-links {
        font-size: 1rem;
        gap: 1rem;
        li {
          font-size: 0.875rem;
          width: 96px;
          white-space: nowrap;
          overflow: hidden;
        }
      }
    }

    .header-title {
      width: 90%;
      margin: 2rem auto 0;

      h1 {
        font-size: 3rem;
        text-align: center;
        margin: 12px;
      }
      p {
        width: 90%;
        margin: 0 auto 20px;
        font-size: 1.7rem;
        text-align: center;
      }

      .header-btn a {
        padding: 1rem 0.7rem;
        font-size: 1rem;
        margin-right: 10px;
      }
    }
  }

  .cards-intro {
    padding: 1.5rem;
  }
  .cards-intro_import p {
    width: 100%;
    font-size: 1.1rem;
  }
  .cards-import {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  .cards-import_card {
    width: 100%;
  }

  .preventivo {
    padding: 10px;
  }
  .preventivo-container {
    width: 90%;
    margin-inline: auto;
  }

  .cards {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
  }
  .card {
    width: 90%;
    //height: auto;
    padding: 1rem;
  }

  .cards-alertImport {
    padding: 1rem;
  }
  .cards-alert_card {
    width: 100%;
    padding: 10px;
    margin: 10px auto;
  }
  .cards-alert_card p {
    font-size: 1rem;
  }

  footer {
    align-items: center;
    .footer-top {
      flex-direction: column;
      text-align: center;
      gap: 2rem;
    }
    img {
      margin: auto;
    }
    h3 {
      margin: 5px;
    }
  }
}

@media (max-width: 420px) {
  h2 {
    font-size: 2.2rem;
  }
  .header-title h1 {
    font-size: 2.4rem;
  }
}
