@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,400;0,500;0,700;1,100;1,200&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

$white: #ffffff;
$black: #000000;
$bg-rose: #fdefef;
$bg-blue: #f8f9fa;
$blue-darkness: #313461;
$color-blue: #1173d4;
$gradient-blue: #4247a2;
$gradient-green: #52b095;
$color-green: #33cc73;
$font-darkness: #04031c;

//cards
$card-blue: #cfe2f3;
$card-color-blue: #2769a3;
$card-rosa: #f9d5e5;
$card-color-rosa: #ad346a;
$card-green: #d4edda;
$card-color-green: #244a2d;
$card-orange: #ffe9c2;
$card-color-orange: #976c00;

//linear gradient feminino
$color-pink: #d038aac0;
$color-rosa: #f9016f8a;
$color-roxo: #851c87;
$color-fucsia: #9308859e;

//linear gradient masc #3373D2 #6F95C7 #7BB5F5 #0074EE #5EA7EF

body {
  width: 100vw;
  font-family: 'Roboto', sans-serif;
  background-color: $white;

  a {
    color: $white;
  }
}
main .cards-alertImport {
  text-align: center;
  padding: 20px 0;
  h2 {
    font-size: 3rem;
  }
  .cards-alerts {
    display: flex;
    flex-wrap: wrap;
    width: 1260px;
    justify-content: center;
    margin: 50px auto;

    .pink {
      color: $card-color-rosa;
      background-color: $card-rosa;
    }
    .blue {
      color: $card-color-blue;
      background-color: $card-blue;
    }
    .green {
      color: $card-color-green;
      background-color: $card-green;
    }
    .orange {
      color: $card-color-orange;
      background-color: $card-orange;
    }
  }
}
main .cards-alert_card {
  width: 550px;
  border-radius: 12px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  margin: 10px 40px;

  p {
    font-size: 1.22rem;
  }

  .cards-alert_title {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 10px;
    img {
      width: 40px;
    }
    h3 {
      font-size: 1.5rem;
    }
  }
}
footer {
  background-color: $blue-darkness;
  display: flex;
  flex-direction: column;
  gap: 30px;
  color: $white;
  font-family: 'Poppins', sans-serif;

  .footer-top {
    display: flex;
    justify-content: space-evenly;
    padding: 50px 0 14px 0;
    div {
      display: flex;
      flex-direction: column;
      gap: 12px;

      img {
        width: 180px;
        margin-bottom: 8px;
      }
      h3 {
        margin: 12px 0;
      }
      ul li {
        margin-bottom: 12px;
      }
    }

    .pBottom {
      width: 320px;
      padding: 10px 0;
    }
  }
  .footer-bottom {
    border-top: 1px solid #9fabbc;
    text-align: center;
    padding: 30px;
  }
}
