@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,400;0,500;0,700;1,100;1,200&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$white: #ffffff;
$black: #000000;
$bg-rose: #fdefef;
$bg-blue: #f8f9fa;
$blue-darkness: #313461;
$color-blue: #1173d4;
$gradient-blue: #4247a2;
$gradient-green: #52b095;
$color-green: #33cc73;
$font-darkness: #04031c;

//cards
$card-blue: #cfe2f3;
$card-color-blue: #2769a3;
$card-rosa: #f9d5e5;
$card-color-rosa: #ad346a;
$card-green: #d4edda;
$card-color-green: #244a2d;
$card-orange: #ffe9c2;
$card-color-orange: #976c00;

//linear gradient feminino
$color-pink: #d038aac0;
$color-rosa: #f9016f8a;
$color-roxo: #851c87;
$color-fucsia: #9308859e;

//linear gradient masc #3373D2 #6F95C7 #7BB5F5 #0074EE #5EA7EF

body {
  width: 100vw;
  font-family: 'Roboto', sans-serif;
  background-color: $white;
  height: 100vh;

  a {
    color: $white;
    text-decoration: none;
  }
  h2 {
    font-size: 3rem;
    font-family: 'Inter', sans-serif;
  }
}

//section exames de rotina
main .cards-intro {
  background-color: $bg-blue;
  padding: 100px;
  font-family: 'Inter', sans-serif;
  @media (max-width: 440px) {
    padding: 20px;
  }

  .cards-intro_import {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 50px;

    p {
      text-align: center;
      width: 70%;
      font-size: 1.3rem;
      @media (max-width: 440px) {
        width: 100%;
        font-size: 1.1rem;
      }
    }
    .cards-import {
      display: flex;
      gap: 50px;

      @media (max-width: 440px) {
        flex-direction: column;
        gap: 20px;
      }

      .cards-import_card {
        width: 350px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 24px;
        background-color: $white;
        padding: 20px;
        border-radius: 12px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
        @media (max-width: 440px) {
          width: 320px;
        }

        h3 {
          font-size: 1.5rem;
        }
      }
    }
  }
}

//cards feminino e masculino
main .preventivo-feminino,
.preventivo-masculino {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 70px 100px;

  @media (max-width: 440px) {
    padding: 10px;
  }

  .preventivo-container {
    width: 80%;
    @media (max-width: 440px) {
      width: 90%;
    }
  }
}
main .preventivo-feminino {
  background-color: $bg-rose;
}
main .preventivo-masculino {
  background-color: $bg-blue;
  .cards {
    justify-content: center;
  }
}
main .cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  margin-top: 50px;

  @media (max-width: 440px) {
    flex-direction: column;
  }
  .card {
    text-align: center;
    background-color: $white;
    width: 300px;
    height: 450px;
    padding: 20px 10px;
    border-radius: 24px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

    img {
      width: 105px;
      height: 105px;
      border-radius: 100px;
    }
    h3 {
      font-size: 1.5rem;
      margin-bottom: 30px;
    }
    ul {
      list-style-position: inside;
      li {
        text-align: left;
        margin-top: 10px;
      }
    }
  }
}

//section alertas
main .cards-alertImport {
  padding: 70px 100px;

  @media (max-width: 440px) {
    padding: 20px;
  }

  .alert-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 30px;

    .cards-alerts {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;

      @media (max-width: 440px) {
        flex-direction: column;
      }

      .pink {
        color: $card-color-rosa;
        background-color: $card-rosa;
      }
      .blue {
        color: $card-color-blue;
        background-color: $card-blue;
      }
      .green {
        color: $card-color-green;
        background-color: $card-green;
      }
      .orange {
        color: $card-color-orange;
        background-color: $card-orange;
      }
    }
  }
}
main .cards-alert_card {
  width: 550px;
  border-radius: 12px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  margin: 10px 40px;

  @media (max-width: 440px) {
    width: 340px;
    padding: 10px;
  }

  p {
    font-size: 1.22rem;
  }

  .cards-alert_title {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 10px;

    img {
      width: 40px;
    }
    h3 {
      font-size: 1.5rem;
      @media (max-width: 440px) {
        font-size: 1.25rem;
      }
    }
  }
}

//footer-rodapé
footer {
  background-color: $blue-darkness;
  display: flex;
  flex-direction: column;
  gap: 30px;
  color: $white;
  font-family: 'Poppins', sans-serif;
  @media (max-width: 440px) {
    align-items: center;
  }

  .footer-top {
    display: flex;
    justify-content: space-evenly;
    padding: 50px 0 14px 0;

    @media (max-width: 440px) {
      flex-direction: column;
      text-align: center;
      gap: 30px;
    }
    div {
      display: flex;
      flex-direction: column;
      gap: 12px;

      img {
        width: 180px;
        margin-bottom: 8px;
        @media (max-width: 440px) {
          margin: auto;
        }
      }
      h3 {
        margin: 12px 0;
        @media (max-width: 440px) {
          margin: 5px;
        }
      }
      ul li {
        margin-bottom: 12px;
        list-style: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .pBottom {
      width: 320px;
      padding: 10px 0;
    }
  }
  .footer-bottom {
    border-top: 1px solid #9fabbc;
    text-align: center;
    padding: 30px;
  }
}
