@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,400;0,500;0,700;1,100;1,200&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$white: #ffffff;
$black: #000000;
$bg-rose: #fdefef;
$bg-blue: #f8f9fa;
$blue-darkness: #313461;
$color-blue: #1173d4;
$gradient-blue: #4247a2;
$gradient-green-bg: #52b095;
$gradient-green: #33cc73;
$font-darkness: #04031c;

//cards
$card-blue: #cfe2f3;
$card-color-blue: #2769a3;
$card-rosa: #f9d5e5;
$card-color-rosa: #ad346a;
$card-green: #d4edda;
$card-color-green: #244a2d;
$card-orange: #ffe9c2;
$card-color-orange: #976c00;

$mobile-width: 480px;
$tablet-width: 768px;

//mixins

@mixin mobile {
  @media (max-width: $mobile-width) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: $tablet-width) {
    @content;
  }
}

@mixin width {
  max-width: 1280px;
  width: 100%;
  margin: auto;
}

@mixin around {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin column {
  display: flex;
  flex-direction: column;
}

@mixin gradient($gradient-value) {
  background: $gradient-value;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}
@mixin shadow($shadow-value) {
  box-shadow: 0 0 10px $shadow-value;
}
body {
  font-family: 'Roboto', sans-serif;
  background-color: $white;
  min-height: 100vh;

  a {
    color: $white;
    text-decoration: none;
  }
  h2 {
    font-size: 3rem;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    text-align: center;
    @include gradient(
      linear-gradient(to left, $gradient-green, $gradient-blue)
    );
  }
}

header {
  background-image: url('/assets/bannerHeader.png');
  height: 80vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.header-content {
  @include column();
  @include width;

  nav {
    @include around;
    margin: 70px 0;
    padding: 10px 0;
    border-radius: 50px;
    box-shadow: 6px 6px 10px 1px rgba(0, 0, 0, 0.25);
    background: linear-gradient(
      to right,
      $gradient-blue 0%,
      $gradient-green-bg 100%
    );
    img {
      width: 200px;
    }
  }
}
.nav-links {
  @include around;
  list-style: none;
  font-size: 1.5rem;
  gap: 2rem;

  a:hover {
    text-shadow: (0 0 4px $white);
  }
}

.header-title {
  @include column;
  width: 700px;
  gap: 20px;
  h1 {
    font-size: 3.5rem;
    @include gradient(
      linear-gradient(to left, $gradient-green, $gradient-blue)
    );
  }
  p {
    font-size: 2rem;
    font-weight: 400;
    width: 500px;
    margin-bottom: 40px;
  }
  .header-btn a {
    border-radius: 14px;
    padding: 0.7rem 3rem;
    font-size: 1.2rem;
    transition: 0.3s;
    &:hover {
      @include shadow($color-blue);
    }
  }
  a:nth-child(1) {
    background-color: $color-blue;
    border: 1px solid $color-blue;
    margin-right: 30px;
  }
  a:nth-child(2) {
    border: 1px solid $color-blue;
    color: $color-blue;
  }
}
@include mobile {
  header {
    background: none;
    background-attachment: scroll;
  }
  .header-content {
    max-width: $mobile-width;
    text-align: center;

    nav {
      width: 90%;
      margin: 1rem auto;
      align-items: center;

      img {
        width: 87px;
      }
      .nav-links {
        font-size: 1rem;
        gap: 1rem;

        li {
          font-size: 0.875rem;
          width: 96px;
          white-space: nowrap;
          overflow: hidden;
        }
      }
    }

    .header-title {
      width: 90%;
      margin: 30px auto 0;

      h1 {
        font-size: 3rem;
        text-align: center;
        margin: 12px;
      }
      p {
        width: 90%;
        margin: 0 auto 20px;
        font-size: 1.7rem;
        text-align: center;
      }
      .header-btn a {
        padding: 1rem 0.7rem;
        font-size: 1rem;
        margin-right: 10px;
      }
    }
  }
}

//main
//section exames de rotina
main .cards-intro {
  background-color: $bg-blue;
  padding: 6rem;
  font-family: 'Inter', sans-serif;

  @include mobile {
    padding: 1.25rem;
  }
}
.cards-intro_import {
  @include center;
  flex-direction: column;
  text-align: center;
  gap: 3rem;

  p {
    text-align: center;
    width: 70%;
    font-size: 1.3rem;
    @include mobile {
      width: 100%;
      font-size: 1.1rem;
    }
  }
}
.cards-import {
  display: flex;
  gap: 50px;

  @include mobile {
    flex-direction: column;
    gap: 20px;
  }
}
.cards-import_card {
  width: 350px;
  @include center;
  flex-direction: column;
  gap: 24px;
  background-color: $white;
  padding: 1.5rem;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  transition: 0.5s;
  &:hover {
    @include shadow($gradient-green);
  }
  @include mobile {
    width: 320px;
  }
  h3 {
    font-size: 1.5rem;
  }
}

//cards feminino e masculino
main .preventivo {
  @include center;
  text-align: center;
  padding: 4rem 2rem;

  @include mobile {
    padding: 10px;
  }
}
.preventivo-container {
  @include width;

  @include mobile {
    width: 90%;
    margin-inline: auto;
  }
}
main .feminino {
  background-color: $bg-rose;
  h2 {
    @include gradient(
      linear-gradient(
        to left,
        rgba(249, 1, 111, 0.54),
        rgba(147, 8, 133, 0.62),
        rgba(208, 56, 170, 0.75),
        rgba(133, 28, 135, 1)
      )
    );
  }
  .card {
    &:hover {
      @include shadow(rgba(249, 1, 111, 0.54));
    }
  }
}
main .masculino {
  background-color: $bg-blue;
  h2 {
    @include gradient(
      linear-gradient(
        to left,
        rgba(51, 115, 210, 1),
        rgba(111, 149, 199, 1),
        rgba(123, 181, 245, 1),
        rgba(0, 116, 238, 1),
        rgba(94, 167, 239, 1)
      )
    );
  }
  .cards {
    justify-content: center;
    .card {
      &:hover {
        @include shadow(rgba(0, 116, 238, 1));
      }
    }
  }
}
main .cards {
  @include center;
  flex-wrap: wrap;
  gap: 50px;
  margin-top: 50px;

  @include mobile {
    flex-direction: column;
    align-items: center;
  }
}
.card {
  text-align: center;
  background-color: $white;
  width: 300px;
  height: 450px;
  padding: 20px 10px;
  border-radius: 24px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  transition: 0.5s;

  img {
    width: 105px;
    height: 105px;
    border-radius: 100px;
  }
  h3 {
    font-size: 1.5rem;
    margin-bottom: 30px;
  }
  ul {
    margin-left: 20px;
    li {
      text-align: left;
      margin-top: 10px;
    }
  }
}

//section alertas
main .cards-alertImport {
  padding: 4rem 6rem;

  @include mobile {
    padding: 20px;
  }

  .alert-container {
    @include center;
    flex-direction: column;
    text-align: center;
    gap: 2rem;
  }
}
.cards-alerts {
  @include center;
  flex-wrap: wrap;

  @include mobile {
    flex-direction: column;
    padding: 4rem 2rem;
  }

  .pink {
    color: $card-color-rosa;
    background-color: $card-rosa;

    &:hover {
      @include shadow($card-color-rosa);
    }
  }
  .blue {
    color: $card-color-blue;
    background-color: $card-blue;
    &:hover {
      @include shadow($card-color-blue);
    }
  }
  .green {
    color: $card-color-green;
    background-color: $card-green;
    &:hover {
      @include shadow($card-color-green);
    }
  }
  .orange {
    color: $card-color-orange;
    background-color: $card-orange;
    &:hover {
      @include shadow($card-color-orange);
    }
  }
}
main .cards-alert_card {
  width: 550px;
  border-radius: 12px;
  padding: 30px;
  @include column;
  margin: 10px 40px;
  transition: 0.5s;

  @include mobile {
    width: 80%;
    padding: 10px;
    margin: 10px;
  }

  p {
    font-size: 1.22rem;
  }
}
.cards-alert_title {
  @include center;
  gap: 8px;
  margin-bottom: 10px;

  img {
    width: 40px;
  }
  h3 {
    font-size: 1.5rem;
    @include mobile {
      font-size: 1.25rem;
    }
  }
}
//footer-rodapé
footer {
  background-color: $blue-darkness;
  @include column;
  gap: 2rem;
  color: $white;
  font-family: 'Poppins', sans-serif;
  @include mobile {
    align-items: center;
  }
}
.footer-top {
  display: flex;
  justify-content: space-evenly;
  padding: 3rem 0 0.875rem 0;

  @include mobile {
    flex-direction: column;
    text-align: center;
    gap: 2rem;
  }
  div {
    @include column;
    gap: 12px;

    img {
      width: 180px;
      margin-bottom: 8px;
      @include mobile {
        margin: auto;
      }
    }
    h3 {
      margin: 12px 0;
      @include mobile {
        margin: 5px;
      }
    }
    ul li {
      margin-bottom: 12px;
      list-style: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
.pBottom {
  width: 320px;
  padding: 10px 0;
}
.footer-bottom {
  border-top: 1px solid #9fabbc;
  text-align: center;
  padding: 2rem;
}
